 **Задание 1**
 Создайте numpy array с элементами от числа N до 0 (например, для N = 10 это будет array([9, 8, 7, 6, 5, 4, 3, 2, 1, 0])).

In [132]:
import numpy as np
n = 15
a = np.arange(n, -1, -1)
print(a)

[15 14 13 12 11 10  9  8  7  6  5  4  3  2  1  0]

 **Задание 2**
 Создайте диагональную матрицу с элементами от N до 0. Посчитайте сумму ее значений на диагонали.

In [133]:
m = np.diag(np.arange(n, -1, -1))
print(m.diagonal().sum())

120

 **Задание 3**
 Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [134]:
import pandas as pd
movies = pd.read_csv('ml-latest/movies.csv')
ratings = pd.read_csv('ml-latest/ratings.csv')

ratings_grouped = ratings[ratings.rating == 5.0].groupby('movieId').agg([len])
found_movie_id = ratings_grouped['userId']['len'].idxmax()
movies[movies.movieId == found_movie_id]

     movieId                             title       genres
315      318  Shawshank Redemption, The (1994)  Crime|Drama

 **Задание 4**
 По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [135]:
power = pd.read_csv('power.csv')

countries = ['Latvia', 'Lithuania', 'Estonia']
categories = [4, 12, 21]
period = (2005, 2010)

power[power.country.isin(countries) &
    power.category.isin(categories) &
    power.year.between(period[0], period[1]) &
    power.quantity >= 0.]['quantity'].sum()

219179627208.76712

 **Задание 5**
 Решите систему уравнений:
 \begin{align}
  4x + 2y + z = 4 \\
  x + 3y = 12 \\
  5y + 4z = -3
 \end{align}

In [136]:
a = np.array([[4, 2, 1], [1, 3, 0], [0, 5, 4]])
b = np.array([4, 12, -3])
v = np.linalg.solve(a, b)
print(v)

[ 0.46666667  3.84444444 -5.55555556]